<div>
  <div  color="none" style="text-align: center; background-color: transparent;height: 50px;">
  <img class="closeImg" src="assets/close.png"  (click)="closeClick()"/>
  </div>
<div style="text-align: center; background-color: #F5F5F5;height: 370px;">
<img class="sryImg" src="assets/verse.png"/>
<h2>Please contact admin</h2>
<ion-row style="margin: auto;text-align:center">
  <ion-col size="6">
    <ion-button class="btn_class" color= "back" type="submit" (click)="notNow()">Not Now
    </ion-button>
  </ion-col>
  <ion-col size="6">
      <ion-button class="btn_class1" color= "medium1" type="submit" (click)="connectNow()">
        <span > Connect Now</span>
      </ion-button>
    </ion-col>
  </ion-row>
</div>  
 <!-- <div style="text-align: center;background-color: white;height: 370px;">
  <img class="sryImg" src="assets/verse.png"/>
  <h2>You cannot learn Term2 without <br>
  Completing the Term1</h2>
</div>  -->
</div>
