<ion-content class="ion-padding">
  <form #loginForm="ngForm" novalidate>
    <img style="height: 24px;  width: auto;
    margin: auto;
    display: block;margin-top: 111px;"  src="assets/vedamText.png" >
    <h2>Forgot Password?<br>
    Enter your email to reset the password</h2>
    <ion-list lines="none" style="margin-top: 75px;" *ngIf="!afterOTP">
      <ion-label>Email</ion-label>
      <!-- <ion-text color="danger" style="float: right;">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          {{Use a valid email}}
        </p>
      </ion-text> -->
      <ion-item lines="none">
        <ion-input  type="email"  name="email"
           spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <h2 *ngIf="afterOTP" style="margin-top: 125px;">One Time Password sent to<br><span style="color: #000000;font-size: 16px;"><b>shinyma90@gmail.com</b></span></h2>
  
    <div class="row" *ngIf="!afterOTP">
      <div class="col text-center"  class="btn_class" >
        <ion-button color="medium" style="text-transform: none;width: 168px;height: 50px;font-size: 18px;
        color: #FFFFFF;font-family:Arboria-Bold !important;margin-top: 140px;" (click)="getOtp()" type="submit">
          Get OTP
          <!-- <span *ngIf="!isLogin"> Register Now</span> -->
          <!-- <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner> -->
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>