
.ion-color-medium { 
  --ion-color-base: #FEE4C3 !important;
  --ion-color-base-rgb: var(--ion-color-medium-rgb, 146, 148, 156) !important;
  --ion-color-contrast: var(--ion-color-medium-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: #FEE4C3 !important;
  --ion-color-tint: #FEE4C3 !important;
}
h2 {
  margin-top: 30px;
  color: #000000;
  text-align: left;
  font-size: 22px;
  margin-left: 15px;
  font-family:Arboria-Bold !important;
}
.circleImg {
  background-color: #F89315;
  border-radius: 50px;
  text-align: center;
  width: 30px;
  color: #FFFFFF;
  margin-right: 30px;
  height: 30px;
}



.downld{
  width: 20px;
  height: 20px;
  margin-top: 10px;

}


.verImage{
  height: 115px;
  width: 95px;
  margin: auto;
  border: 2px solid #F89315;
  background-color: #FFFFFF;
}












