/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// @font-face {
//     font-family: Arboria-Book;
//     src: url(assets/fonts/Arboria-Book.ttf);
// }
// * {
//     font-family: Arboria-Book;
// }

@font-face {   
    font-family: 'Arboria-Book';    //This is what we are going to call
    src: url(assets/fonts/Arboria-Book.ttf);
  }

  @font-face {   
    font-family: 'Arboria-Bold';    //This is what we are going to call
    src: url(assets/fonts/Arboria-Bold.ttf);
  }

// @font-face {
//     font-family: Arboria-Black;
//     src: url(assets/fonts/Arboria-Black.ttf);
// }
// * {
//     font-family: Arboria-Black;
// }

// @font-face {
//     font-family: Arboria-Bold;
//     src: url(assets/fonts/Arboria-Bold.ttf);
// }
// * {
//     font-family: Arboria-Bold;
// }
// @font-face {
//     font-family: Arboria-Light;
//     src: url(assets/fonts/Arboria-Light.ttf);
// }
// * {
//     font-family: Arboria-Light;
// }

// @font-face {
//     font-family: Arboria-Thin;
//     src: url(assets/fonts/Arboria-Thin.ttf);
// }
// * {
//     font-family: Arboria-Thin;
// }
.modal-wrapper{
  background: transparent !important;
}