background {
    //background-image: url(../../assets/img/back.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 5em 0px 0px 2em;
    
}

.btn_class {
    background-color: #F97012;
    border-color: #8912f9;
    color: #F97012;
    height: 50px;
    width: 100px;
    text-align: center;
    --border-radius: 10px;
    text-transform: none;
    
    
}

.profile
    {
      position: relative;
      top: 0;
      left: 0;
      height: 100px;
      
    }

    .camera1
    {
      position: absolute;
      top: 70px;
      left: 40px;
      width: 30px;
      height: 30px;
      min-width: 100%;
      max-width: 100%;
    }

    

.bg-secondary {
    text-align: center;
  
    background-color: #910F91;
  }
  
.title {
    
    color: #ffffff;
    font-weight: bold;
    margin: 0px 0px 2em;

}
.subtitle {
   
    color: #F88256;
    font-weight: bold;
    font-size: 43px;
    margin: 0px 0px 12px;
}
ion-button
{
    height: 50px;
    box-shadow: none;
    margin-top: 1em;
    margin-bottom: 1em;
}
p {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
}
.signnow
{
	color: #F88256;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

h2{
    margin-top: 45px;
    font-size: 18px;
    color: #000000;
    margin-left: 20px; 
}

.textclass{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}




.main_div {
    padding: 23px;
    background: var(--ion-color-primary);
    .menuBtn {
        position: absolute;
        top: 0px;
        right: 0px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        .menuIcon {
            // height: 30px;
            width: 25px;
        }
    }
    .profilePic {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 4px solid white;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
    .user_img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 3px solid var(--ion-color-primary);
        margin: auto;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 90px;
        position: relative;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
    .username {
        margin: 0px;
        margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
        color: white;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }

    .email {
        margin: 0px;
        margin-bottom: 10px;
        font-size: 17px;
        color: white;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
}

.options {
    padding: 10px;
    ion-item {
        border-bottom: 1px solid lightgray;
        height: 60px;
        display: flex;
        font-family: 'IBM Plex Sans', sans-serif !important;
        ion-icon {
            color: var(--ion-color-primary);
            font-size: 22px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
    }
}




.ion-color-medium {
   
    --ion-color-base: #FEE4C3 !important;
    --ion-color-base-rgb: var(--ion-color-medium-rgb, 146, 148, 156) !important;
    --ion-color-contrast: var(--ion-color-medium-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #FEE4C3 !important;
    --ion-color-tint: #FEE4C3 !important;
  }
  
  .circleImg {
    background-color: #F89315;
    border-radius: 50px;
    text-align: center;
    width: 30px;
    color: #FFFFFF;
    margin-right: 30px;
    height: 30px;
  }

  .borBack{
    background-color: #FFFFFF;
    margin: 12px;
  }

  h5{
    font-family:Arboria-Bold !important;
  
     font-size: 15px;
  }

  .imageAcc{
    width: 17px;
    height: 20px;
    text-align: center;
    margin: auto;
    margin-top: 12px;
  }